<!-- Footer -->
<div class="container">
	<hr>
	<footer class="page-footer font-small blue pt-4 bg-light">

	  <!-- Footer Links -->
	  <div class="container-fluid text-center text-md-left">

	    <!-- Grid row -->
	    <div class="row">

	      <!-- Grid column -->
	      <div class="col-md-6 mt-md-0 mt-3">

	        <!-- Content -->
	        <h5 class="text-uppercase">Rony S. Hanselmann</h5>
	        <p>dbmvz18 - hs19 - prog2</p>

	      </div>
	      <!-- Grid column -->

	      <hr class="clearfix w-100 d-md-none pb-3">

	      <!-- Grid column -->
	      <div class="col-md-3 mb-md-0 mb-3">

	        <!-- Links -->
	        <h5 class="text-uppercase">Python & Github</h5>

	        <ul class="list-unstyled">
	          <li>
	            <a target="blank" href="https://www.w3schools.com/python/">w3schools.com</a>
	          </li>
	          <li>
	            <a target="blank" href="https://github.com/dbmvz18/PROG2"!>github.com</a>
	          </li>
	        
	        </ul>

	      </div>

	      <!-- Grid column -->
	      <div class="col-md-3 mb-md-0 mb-3">

	        <!-- Links -->
	        <h5 class="text-uppercase">Kontakt</h5>

	        <ul class="list-unstyled">
	          <li>
	           <!--Verlinkung LinkedIn-->
	        <a target="blank" href="https://www.linkedin.com/in/rony-s-hanselmann-71250aa3"!><img src="static/pics/linkedin.svg" width="30" height="30" class="d-inline-block align-top" alt="LinkedIn Icon"></a>

	        <!--Verlinkung Xing-->
	        <a target="blank" href="https://www.xing.com/profile/RonyS_Hanselmann"!>
	        <img src="static/pics/xing.svg" width="30" height="30" class="d-inline-block align-top" alt="Xing Icon"></a>

	        <!--Verlinkung Facebook-->
	        <a target="blank" href="https://www.facebook.com/rshanselmann"!>
	        <img src="static/pics/facebook.svg" width="30" height="30" class="d-inline-block align-top" alt="Facebook Icon"></a>
	          </li>


	         
	        </ul>

	      </div>
	      <!-- Grid column -->

	    </div>
	    <!-- Grid row -->

	  </div>
	  <!-- Footer Links -->

	  <!-- Copyright -->
	  <div class="container-fluid text-center text-md-left">
	        <p>© 2019 Copyright:
	    <a href="{{ url_for('baustelle')}}"> food-manager.li</a></p>
	    
	  </div>

	</footer>
<!-- Footer -->
<br>
</div>

