<!DOCTYPE html>
<html lang="de">
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Willkommen</title>
</head>


<!-- Navigation -->
<div class="container">
		<ul class="nav">
		  <li class="nav-item">
		    <a class="nav-link active" href="{{ url_for('landingpage')}}">Startseite</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link active" href="{{ url_for('subpage1')}}">Übersicht</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link disabled" href="{{ url_for('subpage2')}}">Subpage2</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link disabled" href="{{ url_for('subpage3')}}">Subpage3</a>
		  </li>
		</ul>
</div>
</head>
</html>

