{% extends "template.html" %}

{% block title %}foodmanager - Startseite{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Herzlich willkommen!</h1>
            <hr>
            <p> 
            Der Food-Manager hilft dir dabei ...

            lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            <!--Medium einfügen (evtl. Karousel (Bildergalerie mit Text) -->
            <br><br><img src="#" class="img-fluid" alt="Responsive image">
            <br><br>
            lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>

            <h3>Einführung</h3>
            <p>
            Auf der Seite "Übersicht" kannst du ... lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            <br><br><a class="btn btn-success btn-lg" href="{{ url_for('hinzufuegen')}}" role="button">Nahrungsmittel hinzufügen!</a>
            </p>

            


<div class="jumbotron">
  <h1 class="h3">Warum Food-Manager?</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="{{ url_for('ueber')}}" role="button">Zur Geschichte</a>
</div>

       </div>
    </div>
</div>
{% endblock %}