{% extends "template.html" %}

{% block title %}foodmanager - Übersicht{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Übersicht</h1>
            <hr>
        </div>
        {% if dictfoodmanager %}
            {% for key, value in dictfoodmanager.items() %}
                <div class="col-12 mb-3">
                    <h6>{{ value['nahrungsmittel'] }}</h6>
                    <p>{{ value['ablaufdatum']}}</p>
                </div>
            {% endfor %}
        {% else %}
                <h3>Keine Nahrungsmittel erfasst</h3>
        {% endif %}
    </div>
</div>
{% endblock %}
