{% extends "template.html" %}

{% block title %}Food-Manager - Übersicht{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Benachrichtigungen Ablaufdatum</h1>
            <hr>
        </div>


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nahrungsmittel <u><b>abgelaufen</b></u>!</th>
      
    </tr>
  </thead>

        {% if dictfoodmanager %}
            {% for key, value in dictfoodmanager.items() %}

  <tbody>
    <tr>
      <td>{{ value['nahrungsmittel'] }}</td>
      <td>{{ value['ablaufdatum']}}</td>
    </tr>

    {% endfor %}
        {% else %}
                <h3>Keine Nahrungsmittel erfasst</h3>
        {% endif %}

  </tbody>
</table>



<table class="table table-danger">
  <thead>
    <tr>
      <th scope="col">Nahrungsmittel laufen <u><b>heute</b></u> ab!</th>
      
    </tr>
  </thead>

        {% if dictfoodmanager %}
            {% for key, value in dictfoodmanager.items() %}

  <tbody>
    <tr>
      <td>{{ value['nahrungsmittel'] }}</td>
      <td>{{ value['ablaufdatum']}}</td>
    </tr>

    {% endfor %}
        {% else %}
                <h3>Keine Nahrungsmittel erfasst</h3>
        {% endif %}

  </tbody>
</table>

<table class="table table-warning">
  <thead>
    <tr>
      <th scope="col">Nahrungsmittel laufen <u><b>in 5 Tagen</b></u> ab!</th>
    </tr>
  </thead>

        {% if dictfoodmanager %}
            {% for key, value in dictfoodmanager.items() %}

  <tbody>
    <tr>
      <td>{{ value['nahrungsmittel'] }}</td>
      <td>{{ value['ablaufdatum']}}</td>
    </tr>

    {% endfor %}
        {% else %}
                <h3>Keine Nahrungsmittel erfasst</h3>
        {% endif %}

  </tbody>
</table>

<table class="table table-success">
  <thead>
    <tr>
      <th scope="col">Nahrungsmittel laufen <u><b>in 10 Tagen</b></u> ab!</th>
    </tr>
  </thead>

        {% if dictfoodmanager %}
            {% for key, value in dictfoodmanager.items() %}

  <tbody>
    <tr>
      <td>{{ value['nahrungsmittel'] }}</td>
      <td>{{ value['ablaufdatum']}}</td>
    </tr>

    {% endfor %}
        {% else %}
                <h3>Keine Nahrungsmittel erfasst</h3>
        {% endif %}

  </tbody>
</table>

        
    </div>
</div>


{% endblock %}
