{% extends "template.html" %}

{% block title %}foodmanager - Über{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Über - Warum Food-Manager?</h1>
            <hr>
            <p>
            <h4>I'm so hungry!</h4> 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            <!--Medium einfügen Bilder im Ordner docs abgelegt "ueber" -->
            <br><img src="..." alt="..." class="img-thumbnail">
            </p>


            <p>
            <h4>Einkaufen</h4> 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            <!--Medium einfügen Bilder im Ordner docs abgelegt "ueber" -->
            <br><img src="..." alt="..." class="img-thumbnail">
            </p>
            

            <p>
            <h4>Mampfen</h4> 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            <!--Medium einfügen Bilder im Ordner docs abgelegt "ueber" -->
            <br><img src="..." alt="..." class="img-thumbnail">
            </p>
            


            <p>
            <h4>Food waste</h4>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            <!--Medium einfügen Bilder im Ordner docs abgelegt "ueber" -->
            <br><img src="..." alt="..." class="img-thumbnail">
            </p>
            

            <p>
            <h4>Stop damit!</h4> 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            <!--Medium einfügen Bilder im Ordner docs abgelegt "ueber" -->
            <br><img src="..." alt="..." class="img-thumbnail">
            </p>
            

            <!--Verlinkung zu "Verwalten"-Seite -->
            <a class="btn btn-success btn-lg" href="{{ url_for('hinzufuegen')}}" role="button">Get Started!</a>

       </div>
    </div>
</div>
{% endblock %}

