{% extends "template.html" %}

{% block title %}foodmanager - Über{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Über - Warum Food-Manager?</h1>
            <hr>
      
       </div>
    </div>


      <div class="media">
        <img src="static/pics/ueber01.jpeg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h3 class="mt-0">I'm so hungry!</h3>
          <p>Wer kennt es nicht? Man sitzt Zuhause der Kühlschrank oder die Speise ist leer und man hat hunger. </p>
        </div>
      </div>

      <br><br><br>

      <div class="media">
        <div class="media-body">
          <h3 class="mt-0 mb-1">Einkaufen</h3>
          Mit leerem Magen steigt man ins Auto oder nimmt die ÖVs und begibt sich auf den Weg Einkaufen zu gehen. Inzwischen hat sich der Hunger zum Heisshunger entwickelt, sodass der menschliche Körper in einen eher emotionalen Zustand geraten ist. Mit der Abwesenheit des rationalen Denkens, packt man alles was einem annmacht in den Einkaufswagen, welcher von Regal zu Regal eilig vor sich hin gestossen wird. Erst wenn die nette Dame an der Kasse den zu bezahlenden Betrag ausspricht, wird einem klar, dass viele unnötige Nahrungsmittel auf dem "Kassazättl" aufgeführt sind.
        </div>
        <img src="static/pics/ueber02.jpeg" class="ml-3" alt="...">
      </div>

      <br><br><br>

      <div class="media">
        <img src="static/pics/ueber03.jpeg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h3 class="mt-0">Mampfen</h3>
          <p>"Jetzt hani hunger und ez würd gschpachtlät bis mi putzt!", mit diesen Worten nähere ich mich des Öfteren meinem Kühlschrank oder Speise.</p>
        </div>
      </div>


<br><br><br>

      <div class="media">
        <div class="media-body">
          <h3 class="mt-0 mb-1">Food waste</h3>
          Wenn man ehrlich ist, erwischt man sich leider immer noch viel zu oft, verschwenderisch gekocht, geschöpft oder zubereitet zu haben. Nimm' lieber ein weiteres Mal den Weg zum Kühlschrank / Speise auf dich und greif' ein weiteres Mal zu, als beim ersten Mal übertrieben zu viel.
        </div>
        <img src="static/pics/ueber04.jpeg" class="ml-3" alt="...">
      </div>

      <br><br><br>

      <div class="media">
        <img src="static/pics/ueber05.jpeg" class="align-self-center mr-3" alt="...">
        <div class="media-body">
          <h3 class="mt-0">Stop damit!</h3>
          <p>Doch wo liegt jetzt genau der Fehler bzw. das Verbesserungspotential? Dies fängt bereits beim Einkaufen an. Überleg' dir in Zukunft bewusst und rational (wichtig!) was du für welches Gericht und vor allem für welchen Zeitraum einkaufen möchtest. Anyway, der Food-Manager hilft dir dabei eine bessere Kontrolle über deine Ablaufdaten zu haben.
            <p>Beginn' gleich jetzt und erfass' jene Lebensmittel, welche erfahrungsgemäss aus diversen Gründen ablaufen und du anschliessend wegwerfen musstest. </p>
      <br><br>
      <!--Verlinkung zu "Verwalten"-Seite -->
            <a class="btn btn-success btn-lg" href="{{ url_for('hinzufuegen')}}" role="button">Get Started!</a>
          </p>
        </div>
      </div>
</div>






{% endblock %}

