{% extends "template.html" %}

{% block title %}Food-Manager - Verwalten{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Verwalten - Nahrungsmittelbestand</h1>
            <hr>
        </div>
        

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nahrungsmittel</th>
      <th scope="col">Ablaufdatum</th>
      <th scope="col"></th>
    </tr>
  </thead>

        {% if dictfoodmanager %}
            {% for key, value in dictfoodmanager.items() %}

  <tbody>
    <tr class="bg-info">
      <td>{{ value['nahrungsmittel'] }}</td>
      <td>{{ value['ablaufdatum']}}</td>
      <td><a class="btn btn-danger" href="{{ url_for('entfernen', id=key)}}" role="button">entfernen <img src="static/pics/bin1.svg" class="img-fluid" alt="Responsive image"></a></td>
    </tr>

    {% endfor %}
        {% else %}
                <p>Keine Nahrungsmittel erfasst!</p>
        {% endif %}

  </tbody>
</table>

        
        <div>
        <img src="static/pics/verwalten.jpeg" class="img-fluid rounded"  alt="Responsive image" width="300" height="300">
    
      </div>
    </div>
</div>


{% endblock %}
